<div class="container">

    <p><strong>All existing posts in "<%= @category.name %>"</strong>:</p>
    <% if @category_posts.empty? %>
        <p><%= "Sorry, there are no posts in this category" %></p> 
    <% else %>
        <ul>
            <% @category_posts.each do |cat_post|%>
            <li><%= link_to cat_post.title, cat_post %></li>
            <% end %>
        </ul>
    <% end %>
    <br/>
    <p> <%= link_to "Edit #{@category.name}", edit_category_path %> | <%= link_to "Delete #{ @category.name }", @category, data: { confirm: "Delete the whole category? Are you sure?" }, :method => :delete %> </p>
    
</div>