<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp1b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% key == 'notice' ? key = "success" : key = "danger" %>
        <div class="message is-<%= key %> has-text-centered is-marginless" id="flashMessage">
          <div class="message-body is-borderless">       
          <%= value %>
          <button class="delete" aria-label="delete" id="deleteFlashMessage"></button>
          </div>
        </div>
    <% end %>

  <%# <section> %>
    <%= render "layouts/header" %><br/>
      
    <main class="container">
      <div class="columns">
        <div class="column is-3">
          <%= render "layouts/aside_left"%>
        </div>

        <div class="column is-9">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render "layouts/footer" %>
  <%# </section> %>

  </body>
</html>